<li>{{#link-to 'question' question.id}}<strong class="text-primary">"{{question.content}}"</strong>{{/link-to}}
  <br>
  by {{question.author}}
  
  {{update-question question=question update="update"}}
  <button class="btn btn-danger btn-xs" {{action 'delete' question}}>Delete</button>
</li>
<br>
