<div class="headline">
  <h1>Adventures in Ireland</h1>
  <h2>Welcome to the Message Board</h2>
  <h4>Post a question to get tips and suggestions for visiting Ireland and exploring its wonders.
  <br>
  We hope you find the answers you are looking for!</h4>
</div>

<br>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save="save"}}
