<h1>Welcome to the Message Board</h1>

<h3>We hope you find the answers you are looking for!</h3>

<ul>
  {{#each model as |question|}}
    {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}
  {{/each}}
</ul>

{{new-question save="save"}}
